.bg-card:hover{
    background-color: yellow;
}

.example-value-label {
    font-weight: 600;
    margin-left: 10px;
    padding:5px 15px ;
    height: 2rem;
    width:7rem;
    background-color: rgb(215, 220, 220);
    
  }

  .mat-slider-horizontal {
    max-width: 500px;
    width: 100%;
  }  

  .icon-size{
    font-size: 25px;
    margin-top: 1px;
    background-color: rgb(200, 200, 67);
  }
  
.cursorclass:hover{
  cursor: pointer;
  color:blue;
}